body {
  color: #fff;
  background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("minu.jpg")no-repeat;
  background-size:cover;


}
.container{
	
	text-align:center;
}
h1{
	text-align:center;
}
.nav-area{
	
	float:right;
	list-style:none;
	margin-top:30px;
}
.nav-area li{
	display: inline-block;
	}
	.nav-area li a{
	color:#fff;
	text-decoration:none;
	padding:5px 20px;
	font-family:poppins;
	font-size:14px;
}
.nav-area li a:hover{
	
	background: #fff;
	color:#333;
}
